{% extends 'master.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h2>Progress Tracker</h2>
    <p>Your total workout progress:</p>
    <p>You have completed {{ completed_count }} out of {{ total_workouts }} workouts.</p>
    <p>Your progress: {{ progress_percentage }}%</p>

    <h4>All Workouts:</h4>
    <ul>
        {% for progress in user_progress %}
        <li>
            {% if progress.completed %}
            <strong>{{ progress.workout.Title }} - Completed on {{ progress.progress_date }}</strong>
            {% else %}
            {{ progress.workout.Title }} - In Progress
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
