{% extends 'master.html' %}

{% load static %}

{% block content %}
<div class="container">
    <h2>Workout Complete</h2>
    <p>Congratulations on completing all your workouts!</p>

    <h3>Your Progress</h3>
    <p>You have completed {{ completed_workouts.count }} out of {{ completed_workouts.count }} workouts.</p>
    <p>Your progress: {{ progress_percentage }}%</p>

    <h4>Completed Workouts:</h4>
    <ul>
        {% for progress in completed_workouts %}
        <li>{{ progress.workout.Title }} - Completed on {{ progress.progress_date }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'progress_tracker' %}" class="btn btn-primary">Go to Progress Tracker</a>
</div>
{% endblock %}
