{% extends 'master.html' %}

{% load static %}

{% block title %}
<title>Flex Appeal || Workout Session</title>
{% endblock %}

{% block content %}
{% if selected_workout %}
    <h3>Current Workout: {{ selected_workout.Title }}</h3>
    <p>{{ selected_workout.Desc }}</p>
    
    <form method="POST">
      {% csrf_token %}
      <button type="submit" name="end_workout">End Workout</button>
    </form>
  {% else %}
    <p>Select a workout to begin:</p>
    <form method="POST">
      {% csrf_token %}
      <label for="workout_title">Choose Workout:</label>
      <select name="workout_title">
        {% for workout in recommended_workouts %}
          <option value="{{ workout.Title }}">{{ workout.Title }}</option>
        {% endfor %}
      </select>
      <button type="submit" name="start_workout">Start Workout</button>
    </form>
  {% endif %}
  
  {% if message %}
    <p>{{ message }}</p>
  {% endif %}
  
{% endblock %}
