{% extends 'master.html' %}
{% block content %}
<h2>Your Workout Recommendations</h2>
<ul>
    {% for workout in recommended_workouts %}
        <li>
            <strong>{{ workout.Title }}</strong> - {{ workout.Desc }} <br>
            Equipment: {{ workout.Equipment }} <br>
            Progress: {{ workout.progress }}% <br>
            <a href="{% url 'update_progress' workout.Title %}">Update Progress</a>
        </li>
    {% endfor %}
</ul>
<p>Your overall progress: {{ progress }}%</p>
{% endblock %}
