{% extends 'master.html' %}
{% block title %}
<title>Workout Dashboard</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Your Workout Progress</h1>
    <p>Total Progress: {{ progress }}%</p>

    <ul class="list-group mt-4">
        {% for workout in completed_workouts %}
        <li class="list-group-item">
            <strong>{{ workout.workout.Title }}</strong> - {{ workout.progress }}% completed
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
