{% load static %}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner position-relative" id="top">
    <video autoplay muted loop id="bg-video" class="w-100 h-100 position-absolute top-0 start-0">
        <source src="{% static 'images/gym-video.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text d-flex justify-content-center align-items-center position-absolute top-0 start-0 w-100 h-100">
        <div class="container text-center">
            {% if request.user.is_authenticated %}
            <div class="caption">
                <h6 class="text-light fs-5">Welcome back, {{ request.user.username }}!</h6>
                <h2 class="text-white display-4">Unlock Your <em class="text-warning">Personalized Workout Plan</em></h2>

                <!-- Button for recommendations -->
                <div class="mt-4">
                    <label for="fillFormButton" class="form-label text-white fs-6">Looking for a new routine?</label>
                    <div class="main-button scroll-to-section">
                        <a id="fillFormButton" href="{% url 'recommend' %}" class="btn btn-warning btn-lg">Get Your Recommendations</a>
                    </div>
                </div>

                <!-- Button for dashboard -->
                <div class="mt-4">
                    <label for="goToDashboardButton" class="form-label text-white fs-6">Already have a plan?</label>
                    <div class="main-button scroll-to-section mt-1">
                        <a id="goToDashboardButton" href="{% url 'dashboard' %}" class="btn btn-outline-light btn-lg">Go to Your Dashboard</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="caption">
                <h6 class="text-light fs-5">work harder, get stronger</h6>
                <h2 class="text-white display-4">easy with our <em class="text-warning">gym</em></h2>
                <div class="main-button scroll-to-section mt-4">
                    <a href="{% url 'register' %}" class="btn btn-warning btn-lg">Join Us Today</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
